<!-- Button trigger modal -->
<template name="deleteAccount">
  <button type="button" class="btn btn-sm btn-danger rounded-pill" data-toggle="modal" data-target="#modal-delete-account">Delete account</button>
</template>

    <!-- Modal à completer-->
    <div class="modal modal-danger fade" id="modal-delete-account" tabindex="-1" role="dialog" aria-labelledby="modal-delete-account" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="form-danger">
            <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                <i class="fas fa-exclamation-circle fa-3x opacity-8"></i>
                <h5 class="text-white mt-4">Should we stop now?</h5>
                <p class="text-sm text-sm">All your data will be erased.</p>
                </div>
                <div class="form-group">
                <label class="form-control-label text-white">You email</label>
                <input class="form-control" type="text">
                </div>
                <div class="form-group">
                <label class="form-control-label text-white">To verify, type <span class="font-italic">delete my account</span> below</label>
                <input class="form-control" type="text">
                </div>
                <div class="form-group">
                <label class="form-control-label text-white">Your password</label>
                <input class="form-control" type="password">
                </div>
                <div class="mt-4">
                <button type="button" class="btn btn-block btn-sm btn-white text-danger rounded-pill">Delete my account</button>
                <button type="button" class="btn btn-block btn-sm btn-link text-light mt-4" data-dismiss="modal">Not this time</button>
                </div>
            </div>
            </div>
        </form>
        </div>
    </div>