<!--Template qui crée un post dans un formulaire-->
<template name="formNewPost">
    <div class="container-fluid">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <form class="js-new-post" id="form">
        <input class ="form-control" type="text" name="title" placeholder="Titre du post"> 
        <textarea class ="form-control" name="text"  cols="30" rows="10"></textarea>
        <input type="file" name="image" id="file-1" class="custom-input-file" data-multiple-caption="{count} files selected" multiple />
        <label for="file-1">
            <i class="fa fa-upload" aria-hidden="true"></i>
            <span>Choose a file…</span>
        </label>
        <button id="retour" class="btn btn-secondary">Retour</button>
        <button type = "submit" class = "btn btn-primary" id = "bouton"> Poster</button>
        
      </form>
    </div>
  </template>

  


  