<!--Template qui crée un post dans un formulaire-->
<template name="formNewPost">
  <header>{{> header}}</header>
  <br>
    <div class="container-fluid">
      <form class="js-new-post" id="form">
        <input class ="form-control" type="text" id="title" name="title" placeholder="Titre du post"> 
        <textarea class ="form-control" id="text" name="text"  cols="30" rows="10"></textarea>
        <input type="file" name="image" id="file-1" class="custom-input-file" data-multiple-caption="{count} files selected" multiple />
        <br>
        <button id="retour" class="btn btn-secondary btn-lg mx-auto rounded-pill">Retour</button>
        <button type = "submit" class = "float-right btn btn-primary btn-lg mx-auto rounded-pill" id = "bouton"> Poster</button>
        
      </form>
    </div>
  </template>

  


  