<template name="formNewTower">
  <header>{{> header}}</header>
  <br>
    <div class="container-fluid">
      <form class="js-new-tower" id="form2">
        <input class ="form-control" type="text" name="title" id="towerName" placeholder="Title of tower"> 
        <br>
        <button id="retour" class="btn btn-secondary btn-lg mx-auto rounded-pill">Retour</button>
        <button type = "submit" class = "float-right btn btn-primary btn-lg mx-auto rounded-pill" id = "bouton2">Créer</button>
        
      </form>
    </div>
  </template>