<!-- permet d'afficher les posts en attendant d'avoir le routing -->
<template name="listPost">
    <h2>Les Posts</h2>
    <div class="card-columns">
  {{#each post in posts}}
  <!--on crée la variable post pour être utilisée dans le temlate single_post-->
   {{>single_post post=post}}
  {{/each}}
  </div>
  <button id="post" class="btn btn-primary btn-lg mx-auto rounded-pill">Créer un post</button>
  <button id="tower" class="btn btn-primary btn-lg mx-auto rounded-pill">Create a tower</button>
  <!--bug template-->
  <br>
  <br>
  <h2>preview: Notifications *to be completed</h2>
  <div id="card-dashboard-8-result" class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-dashboard-8-result-tab">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h6 class="mb-0">Notifications</h6>
          </div>
          <div class="text-right">
            <div class="actions">
              <a href="#" class="action-item"><i class="fas fa-sync"></i></a>
              <div class="dropdown action-item" data-toggle="dropdown">
                <a href="#" class="action-item"><i class="fas fa-ellipsis-h"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="#" class="dropdown-item">Refresh</a>
                  <a href="#" class="dropdown-item">Manage Widgets</a>
                  <a href="#" class="dropdown-item">Settings</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago">
            <div>
              <span class="avatar bg-primary text-white rounded-circle">SH</span>
            </div>
            <div class="flex-fill ml-3">
              <div class="h6 text-sm mb-0">Section HA<small class="float-right text-muted">2 s ago</small></div>
              <p class="text-sm lh-140 mb-0">
                Someone just boardcast a message at this tower.
              </p>
            </div>
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="3 hrs ago">
            <div>
              <span class="avatar bg-warning text-white rounded-circle">JC</span>
            </div>
            <div class="flex-fill ml-3">
              <div class="h6 text-sm mb-0">johan.cuda<small class="float-right text-muted">4 mins ago</small></div>
              <p class="text-sm lh-140 mb-0">
                Someone just dropped a message at Section IN.
              </p>
            </div>
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="5 hrs ago">
            <div>
              <span class="avatar bg-info text-white rounded-circle">AT</span>
            </div>
            <div class="flex-fill ml-3">
              <div class="h6 text-sm mb-0">Apéro Time<small class="float-right text-muted">1 d ago</small></div>
              <p class="text-sm lh-140 mb-0">
                A new tower was added. Check out its location and start sharing.
              </p>
            </div>
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago">
            <div>
              <span class="avatar bg-dark text-white rounded-circle">IF</span>
            </div>
            <div class="flex-fill ml-3">
              <div class="h6 text-sm mb-0">isabelle.fasnacht<small class="float-right text-muted">2 w ago</small></div>
              <p class="text-sm lh-140 mb-0">
                added your stations as favorites. Good job! ツ
              </p>
            </div>
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="3 hrs ago">
            <div>
              <span class="avatar bg-primary text-white rounded-circle">HI</span>
            </div>
            <div class="flex-fill ml-3">
              <div class="h6 text-sm mb-0">Welcome 🏁<small class="float-right text-muted">3 hrs ago</small></div>
              <p class="text-sm lh-140 mb-0">
                Click here to discover towers near you and start sharing.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="card-footer py-2 text-center">
        <a href="#" class="text-sm text-muted font-weight-bold">See all notifications</a>
      </div>
    </div>
  </div>



    <!-- bug template -->
    <br>
    <br>
    <h2>preview: Settings *to be completed</h2>
    <div class="col-lg-8 order-lg-1">
        <div class="card">
          <div class="card-header">
            <h5 class=" h6 mb-0">Notifications</h5>
          </div>
          <!-- List group -->
          <div class="list-group list-group-flush">
            <div class="list-group-item d-flex w-100 justify-content-between">
              <div>
                <h6 class="mb-1">Subscriptions</h6>
                <span class="text-sm text-muted">You will receive an alert when one of your subscripted towers has a new broadcast.</span>
              </div>
              <div>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="notification-1" checked>
                  <label class="custom-control-label" for="notification-1"></label>
                </div>
              </div>
            </div>
            <div class="list-group-item d-flex w-100 justify-content-between">
              <div>
                <h6 class="mb-1">Favorite stations</h6>
                <span class="text-sm text-muted">You will receive an alert when one of your favorite stations broadcast something new.</span>
              </div>
              <div>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="notification-2">
                  <label class="custom-control-label" for="notification-2"></label>
                </div>
              </div>
            </div>
            <div class="list-group-item d-flex w-100 justify-content-between">
              <div>
                <h6 class="mb-1">New follower</h6>
                <span class="text-sm text-muted">You will receive an alert when another user add your station as favorites.</span>
              </div>
              <div>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="notification-3" checked>
                  <label class="custom-control-label" for="notification-3"></label>
                </div>
              </div>
            </div>
            <div class="list-group-item d-flex w-100 justify-content-between">
              <div>
                <h6 class="mb-1">New tower release</h6>
                <span class="text-sm text-muted">You will receive an alert when a new tower is added.</span>
              </div>
              <div>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="notification-4" checked>
                  <label class="custom-control-label" for="notification-4"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <br>
    <br>
    <button type="button" class="btn btn-sm btn-danger rounded-pill" data-toggle="modal" data-target="#modal-delete-account">Delete account</button>


        <!-- bug template -->
        <br>
        <br>
        <br>
        
</template>  
