<!-- template marche! à raffiner encore-->
<template name="listNotif">
  <div class="col-lg-8 order-lg-1">  
    <div id="card-dashboard-8-result" class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-dashboard-8-result-tab">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h6 class="mb-0">Notifications</h6>
            </div>
            <div class="text-right">
              <div class="actions">
                <a href="#" class="action-item"><i class="fas fa-sync"></i></a>
                <div class="dropdown action-item" data-toggle="dropdown">
                  <a href="#" class="action-item"><i class="fas fa-ellipsis-h"></i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item">Refresh</a>
                    <a href="#" class="dropdown-item">Manage Widgets</a>
                    <a href="#" class="dropdown-item">Settings</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{#each notif in notifs}}
        <div class="list-group list-group-flush">
        {{>singleNotif notif = notif}}
        </div>
        {{/each}}
        <div class="card-footer py-2 text-center">
          <a href="#" class="text-sm text-muted font-weight-bold">See all notifications</a>
        </div>
      </div>
    </div>
  </div>
  <button id="retour" class="btn btn-secondary">Retour</button>
</template>