<!-- template marche! à raffiner encore-->
<template name="listNotif">
  <header>{{> header}}</header>
  <br>
  <div class="col order-lg-1">  
    <div id="card-dashboard-8-result" class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-dashboard-8-result-tab">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h6 class="mb-0">Notifications</h6>
            </div>
          </div>
        </div>
        {{#each notif in notifs}}
        <div class="list-group list-group-flush">
        {{>singleNotif notif = notif}}
        </div>
        {{/each}}
        {{#each notifTower in notifsTower}}
        <div class="list-group list-group-flush">
          {{>singleNotifTower notifTower = notifTower}}
          </div>
        {{/each}}
      </div>
    </div>
    <button id="retour" class="btn btn-secondary btn-icon mx-auto rounded-pill">Retour</button>
  </div>
</template>