<template name="newAccount">
    <p>Créez vous d'abord un compte!</p>
    <span>Veuillez entrer une adresse UNIL valide:</span>
    <input type="text" name="mail" id="mail" placeholder="Adresse E-Mail">
    <br />
    <span>Mot de passe:</span>
    <input type="password" name="mdp" id="mdp" placeholder="Min. 5 lettres">
    <br />
    <span>Confirmation du mot de passe:</span>
    <input type="password" name="mdpConf" id="mdpConf" placeholder="Confirmation">
    <br />
    <button id="creation">Créer le compte</button>
    <button id="connexion">Retour</button>
</template>