<template name="otherUser" >
  <header>{{> header}}</header>
    <br>
            <div class="col-lg-4">
              <!-- Profile stats -->
              <div class="card card-fluid">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col-auto">
                        <div>
                            <span class="avatar bg-warning text-white rounded-circle">{{getInitials}}</span>
                        </div>
                    </div>
                    <div class="col ml-md-n2">
                      <a href="#!" class="d-block h6 mb-0">{{getMail}}</a>
                      <small class="d-block text-muted">@unil.ch</small>
                    </div>
                    <div class="col-auto">
                      
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-4 text-center">
                      <span class="h5 mb-0">{{number}}</span>
                      <span class="d-block text-sm">Posts</span>
                    </div>
                    <div class="col-4 text-center">
                      <span class="h5 mb-0">{{numberTowers}}</span>
                      <span class="d-block text-sm">Towers</span>
                    </div>
                    <div class="col-4 text-center">
                      <span class="h5 mb-0">{{likedTowers}}</span>
                      <span class="d-block text-sm">Liked Towers</span>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="row align-items-center">
                    <div class="col-6">
                      <button type="button" class="btn btn-sm px-0 font-weight-bold btn-link text-primary btn-icon">
                        <a href="mailto:{{getEmail}}">
                        Message
                        </a>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <button type="button" class="btn btn-xs btn-secondary rounded-pill" id="retour"> Retour </button>
            </div>
</template>