<!-- template marche! à raffiner encore-->
<template name="settings">
    <hr>
    <div class="col order-lg-1">
        <div class="card">
          <div class="card-header">
            <h5 class=" h6 mb-0">Notifications</h5>
          </div>
          <!-- List group -->
          <div class="list-group list-group-flush">
            <div class="list-group-item d-flex w-100 justify-content-between">
              <div>
                <h6 class="mb-1">Subscriptions</h6>
                <span class="text-sm text-muted">You will receive an alert when one of your liked towers has a new broadcast.</span>
              </div>
              <div>
              </div>
            </div>
            <div class="list-group-item d-flex w-100 justify-content-between">
              <div>
                <h6 class="mb-1">New tower release</h6>
                <span class="text-sm text-muted">You will receive an alert when a new tower is added.</span>
              </div>
            </div>
          </div>
        </div>
    </div>
    <hr>
    <div class="col">  
      <button id="deleteAccount" class="text-align:center btn btn-primary btn-lg btn-danger rounded-pill" >Delete account</button>
    </div>
</template>
