<!-- template marche! à raffiner encore-->
<template name="settings">
    <hr>
    <div class="col order-lg-1">
        <div class="card">
          <div class="card-header">
            <h5 class=" h6 mb-0">Notifications settings</h5>
          </div>
          <!-- List group -->
          <div class="list-group list-group-flush">
            <div class="list-group-item d-flex w-100 justify-content-between">
              <div>
                <h6 class="mb-1">Subscriptions</h6>
                <span class="text-sm text-muted">You will receive an alert when one of your liked towers has a new broadcast.</span>
              </div>
              <div>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="notification-1" checked>
                  <label class="custom-control-label" for="notification-1"></label>
                </div>
              </div>
            </div>
            <div class="list-group-item d-flex w-100 justify-content-between">
              <div>
                <h6 class="mb-1">New tower release</h6>
                <span class="text-sm text-muted">You will receive an alert when a new tower is added.</span>
              </div>
              <div>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="notification-4" checked>
                  <label class="custom-control-label" for="notification-4"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <hr>
    <div class="col">  
      <button id="deleteAccount" class="text-align:center btn btn-primary btn-lg btn-danger rounded-pill" data-toggle="modal" data-target="#modal-delete-account">Delete account</button>
    </div>

    <div class="col">  
      <div class="modal modal-danger fade" id="modal-delete-account" tabindex="-1" role="dialog" aria-labelledby="modal-delete-account" aria-hidden="true">
        <div class="modal-dialog vertical-align-middle" role="document">
        <form class="form-danger">
            <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                <i class="fas fa-exclamation-circle fa-3x opacity-8"></i>
                <h5 class="text-white mt-4">Should we stop now?</h5>
                <p class="text-sm text-sm">All your data will be erased.</p>
                </div>
                <div class="form-group">
                <label class="form-control-label text-white">You email</label>
                <input class="form-control" type="text">
                </div>
                <div class="form-group">
                <label class="form-control-label text-white">To verify, type <span class="font-italic">delete my account</span> below</label>
                <input class="form-control" type="text">
                </div>
                <div class="form-group">
                <label class="form-control-label text-white">Your password</label>
                <input class="form-control" type="password">
                </div>
                <div class="mt-4">
                <button type="button" class="btn btn-block btn-sm btn-white text-danger rounded-pill">Delete my account</button>
                <button type="button" class="btn btn-block btn-sm btn-link text-light mt-4" data-dismiss="modal">Not this time</button>
                </div>
            </div>
            </div>
        </form>
        </div>
      </div>
    </div>
</template>
