<!-- template marche! à raffiner encore-->
<template name="settings">
    <br>
    <br>
    <div class="col-lg-8 order-lg-1">
      <h2>Settings</h2>
        <div class="card">
          <div class="card-header">
            <h5 class=" h6 mb-0">Notifications</h5>
          </div>
          <!-- List group -->
          <div class="list-group list-group-flush">
            <div class="list-group-item d-flex w-100 justify-content-between">
              <div>
                <h6 class="mb-1">Subscriptions</h6>
                <span class="text-sm text-muted">You will receive an alert when one of your subscripted towers has a new broadcast.</span>
              </div>
              <div>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="notification-1" checked>
                  <label class="custom-control-label" for="notification-1"></label>
                </div>
              </div>
            </div>
            <div class="list-group-item d-flex w-100 justify-content-between">
              <div>
                <h6 class="mb-1">Favorite stations</h6>
                <span class="text-sm text-muted">You will receive an alert when one of your favorite stations broadcast something new.</span>
              </div>
              <div>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="notification-2">
                  <label class="custom-control-label" for="notification-2"></label>
                </div>
              </div>
            </div>
            <div class="list-group-item d-flex w-100 justify-content-between">
              <div>
                <h6 class="mb-1">New follower</h6>
                <span class="text-sm text-muted">You will receive an alert when another user add your station as favorites.</span>
              </div>
              <div>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="notification-3" checked>
                  <label class="custom-control-label" for="notification-3"></label>
                </div>
              </div>
            </div>
            <div class="list-group-item d-flex w-100 justify-content-between">
              <div>
                <h6 class="mb-1">New tower release</h6>
                <span class="text-sm text-muted">You will receive an alert when a new tower is added.</span>
              </div>
              <div>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="notification-4" checked>
                  <label class="custom-control-label" for="notification-4"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>  
      <button id="deleteAccount" class="btn btn-primary btn-lg btn-danger rounded-pill" data-toggle="modal" data-target="#modal-delete-account">Delete account</button>
    </div>
</template>
