<template name="singleNotif">
    <a href="" class="list-group-item list-group-item-action">
        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago">
          <div>
            <span class="avatar bg-primary text-white rounded-circle">SH</span>
          </div>
          <div class="flex-fill ml-3">
            <div class="h6 text-sm mb-0">{{towerName}}<small class="float-right text-muted">{{notif.createdAt}}</small></div>
            <p class="text-sm lh-140 mb-0">
              Someone just boardcast a message at this tower.
            </p>
          </div>
        </div>
      </a>
</template>